* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background-image: url(./assets/img/agenda2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 100px;
  height: 550px;
}
img {
  opacity: 0.5;
}
header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
header img {
  height: 50px;
  margin-left: 20px;
}
header h1 {
  font-size: 40px;
  font-weight: bold;
  margin-left: 16px;
  color: rgb(4, 35, 149);
}
.container {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
}
form {
  display: flex;
  max-width: 960px;
  width: 100%;
  justify-content: space-between;
}
form input {
  font-size: 20px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  padding: 8px;
  border-radius: 5px;
}
form button {
  color: #fff;
  background-color: rgb(4, 35, 149);
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
}
table {
  width: 100%;
  margin-top: 25px;
}
table th {
  border-bottom: 2px solid #000;
  padding: 16px;
  font-size: 20px;
  font-weight: bold;
}
table td {
  padding: 16px 0;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: rgb(0, 0, 0);
}
